<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CSS -->
    <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap-theme.css}" rel="stylesheet" />


    <link th:href="@{/css/error.css}" rel="stylesheet" />

    <title>程里人服务平台</title>
</head>
<body>

<!-- 代码 开始 -->
<div id="container"><img class="png" th:src="@{/images/error/404.png}" /> <img class="png msg" th:src="@{/images/error/404_msg.png}" />
    <p><a th:href="@{/login/}" href="#" ><img class="png" th:src="@{/images/error/404_to_index.png}" /></a> </p>
</div>
<div id="cloud" class="png"></div>

</body>

</html>


