<include file="Public/test-header.html"/>
<title>首页</title>

<div class="container">
    <div class="row" style="padding-top:100px;padding-bottom: 50px;">
        <!--第一界面内容-->
        <div clas="col-sm-12 col-md-12" style="height: 500px;background-image: url('/Public/images/test/index-1.png');">
            <p class="text-center" style="color:white;font-size:35px;padding-top:200px;margin-bottom: -15px !important;">雪狸传感技术公司</p>
            <p class="text-center" style="color:white;font-size:29px;">您&nbsp&nbsp最&nbsp&nbsp佳&nbsp&nbsp的&nbsp&nbsp合&nbsp&nbsp作&nbsp&nbsp伙&nbsp&nbsp伴</p>
        </div>
        <!--第二界面内容-->
        <div class="col-sm-12 col-md-12" style="margin-top: 48px;">
            <div class="row">
                <div class="col-sm-6 col-md-6 text-right" style="padding-top:40px !important;">
                    <!--图片-->
                    <img  src="__PUBLIC__/images/test/index-2.png" width="70%">
                </div>
                <div class="col-md-4 col-sm-4 ">
                    <p class="text-left" style="font-size:25px;color: #49b4ba;">微波暗室与射频天线</p>

                    <p class="text-left" style="color: #373737;font-size:22px;"><strong>最先进的技术、<br/> 最优质的服务！</strong></p>

                    <ul>
                        <li>美国ETS AMS8500商用的标准微波暗室</li>
                        <br/>
                        <li>无源测试<br/> 用于测试各类天线</li>
                        <br/>
                        <li>有源测试<br/> 用于手机、平板电脑、可穿戴终端的测试</li>
                    </ul>
                    <br/>
                    <a href="#" class="pull-right" style="color:#4a90e2;font-size:16px;">进一步了解我们的微波暗室</a>
                </div>
            </div>
        </div>
        <!--第三界面内容-->
        <div class="col-sm-12 col-md-12" style="margin-top:48px;height: 400px;background-image: url('/Public/images/test/index-7.png');">
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center ">
                    <img src="__PUBLIC__/images/test/index-3.png" width="350px;" style="padding-top:40px;padding-bottom: 40px !important;"/>
                </div>
                <div class="col-sm-offset-3 col-sm-2 col-md-2">
                    <img src="__PUBLIC__/images/test/index-4.png" class="text-center"/>
                    <p class="text-center" style="font-size:18px;border:1px solid white;">天线系列</p>
                </div>
                <div class="col-sm-2 col-md-2">
                    <img src="__PUBLIC__/images/test/index-5.png" class="text-center"/>
                    <p class="text-center" style="font-size:18px;border:1px solid white;">雷达系列</p>
                </div>
                <div class="col-sm-2 col-md-2">
                    <img src="__PUBLIC__/images/test/index-6.png" class="text-center"/>
                    <p class="text-center" style="font-size:18px;border:1px solid white;">天线系列</p>
                </div>
            </div>
        </div>
        <!--第四界面内容-->
        <div class="col-sm-12 col-md-12" style="margin-top:48px;">
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center" ">
                    <img src="__PUBLIC__/images/test/index-9.png" width="350px;" style="padding-bottom: 40px !important;/>

                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="col-sm-offset-1 col-md-offset-1 col-sm-3 col-md-3" >
                                <div class="text-center" style="border:1px solid #a9b7c5; border-bottom: hidden;">
                                    <p style="font-size:20px;" class="text-center" >可调天线</p>
                                    <p class="text-center">点击详情页</p>
                                    <p class="text-center">点击详情页</p>
                                    <p class="text-center">点击详情页</p>
                                    <p style="background-color: #a9b7c5;font-size:20px;" class="text-center">MIMI方案详情</p>
                                </div>

                            </div>
                            <div class="col-sm-offset-1 col-md-offset-1 col-sm-3 col-md-3 ">
                                <div class="text-center" style="border:1px solid #a9b7c5; border-bottom: hidden;">
                                    <p style="font-size:20px;" class="text-center" >可调天线</p>
                                    <p class="text-center">点击详情页</p>
                                    <p class="text-center">点击详情页</p>
                                    <p class="text-center">点击详情页</p>
                                    <p style="background-color: #a9b7c5;font-size:20px;" class="text-center">MIMI方案详情</p>
                                </div>
                            </div>
                            <div class=" col-sm-offset-1 col-md-offset-1 col-sm-3 col-md-3" >
                                <div class="text-center" style="border:1px solid #a9b7c5; border-bottom: hidden;">
                                    <p style="font-size:20px;" class="text-center" >可调天线</p>
                                    <p class="text-center">点击详情页</p>
                                    <p class="text-center">点击详情页</p>
                                    <p class="text-center">点击详情页</p>
                                    <p style="background-color: #a9b7c5;font-size:20px;" class="text-center">MIMI方案详情</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!--第五界面内容-->
        <div class="col-sm-12 col-md-12" style="margin-bottom: 40px;">
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center">
                    <img src="__PUBLIC__/images/test/index-10.png" width="350px;" style="padding-bottom: 40px !important;"/>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="col-sm-4 col-md-4">

                                <img src="__PUBLIC__/images/test/news-image.png" width="100%"/>
                                <p class="text-center" style="margin-top:-30px!important;color:white;font-size:18px;background-color: #d0021b;opacity:0.7;
filter:Alpha(opacity=70);">文字描述</p>

                            </div>
                            <div class="col-sm-4 col-md-4">

                                <img src="__PUBLIC__/images/test/news-image.png" width="100%"/>
                                <p class="text-center" style="margin-top:-30px!important;color:white;font-size:18px;background-color: #d0021b;opacity:0.7;
filter:Alpha(opacity=70);">文字描述</p>

                            </div>
                            <div class="col-sm-4 col-md-4">

                                <img src="__PUBLIC__/images/test/news-image.png" width="100%"/>
                                <p class="text-center" style="margin-top:-30px!important;color:white;font-size:18px;background-color: #d0021b;opacity:0.7;
filter:Alpha(opacity=70);">文字描述</p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<include file="Public/bottom.html" />