<include file="Public/test-header.html"/>
<title>新闻中心</title>

<div class="container">
    <div class="row" style="padding-top:100px;padding-bottom: 50px;">
        <div clas="col-sm-12 col-md-12" style="height: 160px;background-color: #b81029;">
            <p class="text-center" style="color:white;font-size: 35px;padding-top:48px;">雪狸传感·新闻中心</p>
        </div>
        <div class="col-sm-12 col-md-12">
            <div class="row" style="height: 250px;padding-top:25px;">
                <div class="col-sm-12 col-md-12">
                    <div class="col-sm-offset-1 col-md-offset-1 col-sm-4 col-md-4">
                        <div class="news-content" >
                            <img src="__PUBLIC__/images/test/news-image.png"/>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-5 ">
                        <div class="news-title"><p style="color: #4a4a4a;font-size: 14px;">新闻标题</p></div>
                        <div class="news-time"><p style="color: #9b9b9b;font-size: 12px;">发布日期：2015-12-12</p></div>
                        <div class="news-des"><p style="color:#9b9b9b;font-size: 12px;">内容部分</p></div>
                        <div class="news-btn text-right"><a href="#" style="color:#4a90e2;font-size: 12px;">点击详情</a></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="col-sm-offset-1 col-md-offset-1 col-sm-10 col-md-10">
                        <hr style="border: solid 0.5px #979797;"/>
                    </div>
                </div>

            </div>


        </div>
    </div>

</div>

<include file="Public/bottom.html" />